body {
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}
h1 {
  font-family: 'Outfit';
  font-weight: 700;
}
p {
  font-family: 'Outfit';
  font-weight: 400;
  margin: 20px;
  color: hsl(220, 15%, 55%);
}
img {
  width: 100%;
  border-radius: 20px;
}
.attribution {
   font-size: 11px; text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
 }
 .container {
  width: 310px;
  height: 560px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 100px auto;
  padding: 20px;
 }
